https://i.joway.io {
  log stdout
  errors stdout
  tls {
      dns cloudflare
  }
  gzip
  proxy / http://0.0.0.0:10001 {
    transparent
  }
}
https://issue.sh.mk/ {
  log stdout
  errors stdout
  tls {
      dns cloudflare
  }
  gzip
  proxy /stk http://0.0.0.0:10002 {
    transparent
  }
  proxy / http://0.0.0.0:10003 {
    transparent
  }
}
